body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 700px ;
}

header{
    grid-row: 1;
    grid-column: 1;
}

#banniere>img{

    height: 300px;
    width: 100%;
}

#banniere{
    grid-row: 2;
    
}
.container{
    grid-row: 3;
    grid-column: 1;
}

