body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 150px 300px;
}

header{
    grid-row: 1;
    grid-column: 1;
}

#banniere>img{
    height: 300px;
    width: 100%;
}

#banniere{
    grid-row: 2;
    
}
#Trajets{
    grid-row: 3;
    grid-column: 1;
    background-color: rgb(186, 186, 186);
}
section#demandes{
    grid-row: 4;
    grid-column: 1;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px 200px 50px;
    /* background-image: url(../../Photos/road.jpg); */
}

#demandes>button{
    grid-row: 2;
    grid-column:2;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}


